# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library 

What we're going to cover 
0. An end-to-end Scikit-Learn workflow 
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems (aka model, referred to as estimator by sklearn)
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load and train model
7. Putting it all together

In [64]:
# Let's litify the contents
what_were_covering = [
    '0. An end-to-end Scikit-Learn workflow',
    '1. Getting the data ready',
    '2. Choose the right estmimator/algorithm for our problem',
    '3. Fit the model/algorithm and use it to make predictions on our data',
    '4. Evaluating a model',
    '5. Improve a model',
    '6. Save and load a trained model',
    '7. Putting it all together!']
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estmimator/algorithm for our problem',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

In [65]:
# Standard imports 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

## 0. An end-to-end Scikit-Learn workflow

In [2]:
import pandas as pd 
m_heart_disease = pd.read_csv('../Matplotlib/heart-disease.csv')
m_heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# Create X a features matrix, axis=1 refers to cols
X = m_heart_disease.drop('target', axis=1)

# Create y (labels)
Y = m_heart_disease['target']

In [48]:
# 2. Choose the right model and hyperparameters
# Hyperparameters - like dials on a model that you can tune to make it better or worst
from sklearn.ensemble import RandomForestClassifier  # a classification ml model

# classifier shorthand
clf = RandomForestClassifier(n_estimators=100)  # instantiate object

# keep default hyperparameters 
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [49]:
# 3. Fit the model to the training data 
from sklearn.model_selection import train_test_split 

# 80% data is for training, 20% will be used for validation 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [63]:
import sklearn
sklearn.show_versions()

System:
    python: 3.12.5 | packaged by Anaconda, Inc. | (main, Sep 12 2024, 18:18:29) [MSC v.1929 64 bit (AMD64)]
executable: C:\Users\marka\ZTM\ZTM_AI\capstone_project\sample_project1\env\python.exe
   machine: Windows-11-10.0.22631-SP0

Python dependencies:
      sklearn: 1.5.1
          pip: 24.2
   setuptools: 72.1.0
        numpy: 1.26.4
        scipy: 1.13.1
       Cython: None
       pandas: 2.2.2
   matplotlib: 3.9.2
       joblib: 1.4.2
threadpoolctl: 3.5.0

Built with OpenMP: True

threadpoolctl info:
       user_api: blas
   internal_api: mkl
    num_threads: 4
         prefix: mkl_rt
       filepath: C:\Users\marka\ZTM\ZTM_AI\capstone_project\sample_project1\env\Library\bin\mkl_rt.2.dll
        version: 2023.1-Product
threading_layer: intel

       user_api: openmp
   internal_api: openmp
    num_threads: 8
         prefix: vcomp
       filepath: C:\Users\marka\ZTM\ZTM_AI\capstone_project\sample_project1\env\vcomp140.dll
        version: None

In [50]:
clf.fit(X_train, Y_train)

RandomForestClassifier()

In [51]:
# Make a prediction 
y_label = clf.predict(np.array([0, 2, 3, 4]))

# This doesn't work b/c it needs the shape of X_test or something

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [52]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
101,59,1,3,178,270,0,0,145,0,4.2,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
24,40,1,3,140,199,0,1,178,1,1.4,2,0,3
275,52,1,0,125,212,0,1,168,0,1.0,2,2,3
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3

In [53]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [54]:
Y_test

186    0
101    1
131    1
129    1
106    1
      ..
198    0
242    0
24     1
275    0
235    0
Name: target, Length: 61, dtype: int64

In [55]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, Y_train)

1.0

In [56]:
clf.score(X_test, Y_test)

0.8852459016393442

In [57]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.90      0.87      0.88        30
           1       0.88      0.90      0.89        31

    accuracy                           0.89        61
   macro avg       0.89      0.88      0.89        61
weighted avg       0.89      0.89      0.89        61

In [58]:
confusion_matrix(Y_test, y_preds)

array([[26,  4],
       [ 3, 28]], dtype=int64)

In [59]:
accuracy_score(Y_test, y_preds)

0.8852459016393442

In [60]:
# 5. Improve a model 
# Try a different amount of n_estimators 
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model {i} estimators')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f'Model accuracy on test set: {clf.score(X_test, Y_test) * 100:.2f}%\n')

Trying model 10 estimators
Model accuracy on test set: 78.69%

Trying model 20 estimators
Model accuracy on test set: 85.25%

Trying model 30 estimators
Model accuracy on test set: 81.97%

Trying model 40 estimators
Model accuracy on test set: 86.89%

Trying model 50 estimators
Model accuracy on test set: 83.61%

Trying model 60 estimators
Model accuracy on test set: 83.61%

Trying model 70 estimators
Model accuracy on test set: 81.97%

Trying model 80 estimators
Model accuracy on test set: 86.89%

Trying model 90 estimators
Model accuracy on test set: 80.33%

In [61]:
# 6. Save a model and load it 
import pickle 

# wb - write binary 
pickle.dump(clf, open('random_forest_model_1.pk1', 'wb'))

In [62]:
# rb - read binary 
loaded_model = pickle.load(open('random_forest_model_1.pk1', 'rb'))
loaded_model.score(X_test, Y_test)

0.8032786885245902

## 1. Getting our data raedy to be used with machine learning 

Three main things we have to do 
1. Split the data into features and labels (usually 'X' & 'y')
2. Filling (also called imputing) or disregarding missing values
3. Converting non-numerical values to numerical values (also called feature encoding)

In [67]:
m_heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [72]:
# 1 -> 1 splitting data
X = m_heart_disease.drop('target', axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [73]:
# 1 -> 1 splitting data
y = m_heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [74]:
# 1 -> 1 split the data into training and test sets 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [78]:
X_shape_result = X.shape[0] * 0.8
print(f'X = {X.shape}')
print(f'X.shape[0] * 0.8 = {X_shape_result}')
print(f'(X.shape[0] * 0.8) + 61 = {X_shape_result + 61}')
print(f'X_train = {X_train.shape}')
print(f'X_test = {X_test.shape}')
print(f'y_train = {y_train.shape}')
print(f'y_test = {y_test.shape}')
print(f'len(m_heart_disease) = {len(m_heart_disease)}')

X = (303, 13)
X.shape[0] * 0.8 = 242.4
(X.shape[0] * 0.8) + 61 = 303.4
X_train = (242, 13)
X_test = (61, 13)
y_train = (242,)
y_test = (61,)
len(m_heart_disease) = 303

## 1.1 Make sure it's all numerical

In [80]:
m_car_sales = pd.read_csv('../data/car-sales-extended.csv')
m_car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [81]:
len(m_car_sales)

1000

In [82]:
m_car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [83]:
# Split into X/y
X = m_car_sales.drop('Price', axis=1)
y = m_car_sales['Price']

# Split into training and test sets 
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [84]:
# Build a machine learning model 
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor() # Created a model

# Trained
model.fit(X_train, y_train)  # learn the patterns between X and y
model.score(X_test, y_test)  #

ValueError: could not convert string to float: 'Toyota'

In [85]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [88]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

m_categorical_features = ['Make', 'Colour', 'Doors']
m_one_hot = OneHotEncoder()
m_transformer = ColumnTransformer([('m_one_hot',
                                   m_one_hot,
                                   m_categorical_features)],
                                 remainder='passthrough')

transformed_X = m_transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [89]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [93]:
# Incorrect way (causing the error):
# dummies = pd.get_dummies(m_car_sales['Make', 'Colour', 'Doors'])

# Correct way:
dummies = pd.get_dummies(m_car_sales[['Make', 'Colour', 'Doors']])

# Alternative correct way using column names:
# columns_to_encode = ['Make', 'Colour', 'Doors']
# dummies = pd.get_dummies(m_car_sales[columns_to_encode])

# Display the result
dummies.head()

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False

In [94]:
# Let's refit the model 
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                   y, 
                                                   test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [95]:
model.score(X_test, y_test)

0.3235867221569877

In [96]:
print(sklearn.__version__)

1.5.1

### 1.2 What if there were missing values 

1. Fill them with some value (also known as imputation)
2. Remove the samples with missing data altogether

In [97]:
# Import car sales missing data
m_car_sales_missing = pd.read_csv('../data/car-sales-extended-missing-data.csv')
m_car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [98]:
# Calculate if there's any missing data 
m_car_sales_missing.isna().sum()  # show how many missing values there are

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [99]:
# Create X & y 
X = m_car_sales_missing.drop('Price', axis=1)
y = m_car_sales_missing['Price']

In [102]:
# Average number of doors
m_car_sales_missing['Doors'].value_counts()

Doors
4.0    811
5.0     75
3.0     64
Name: count, dtype: int64

#### Option 1: Fill missing data with pandas

In [103]:
# Fill the 'Make' column
m_car_sales_missing['Make'].fillna('missing', inplace=True)

# Fill the 'Colour' column
m_car_sales_missing['Colour'].fillna('missing', inplace=True)

# Fill the 'Odometer' (KM) column
m_car_sales_missing['Odometer (KM)'].fillna(m_car_sales_missing['Odometer (KM)'].mean(), inplace=True)

# Fill the 'Doors'  column
# Average no. of doors is 4 as shown 2 cels above
m_car_sales_missing['Doors'].fillna(4, inplace=True)

In [101]:
# Let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

m_categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', # naming the transformation 
                                  one_hot,  # what we're changing
                                  m_categorical_features)],
                                remainder='passthrough')

m_transformed_X = transformer.fit_transform(X)

In [104]:
# Remove rows with missing Price value
m_car_sales_missing.dropna(inplace=True)  # Should drop values only with a missing price column
m_car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [105]:
len(m_car_sales_missing)

950

In [106]:
X = m_car_sales_missing.drop('Price', axis=1)
y = m_car_sales_missing['Price']

In [108]:
# Let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

m_categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', # naming the transformation 
                                  one_hot,  # what we're changing
                                  m_categorical_features)],
                                remainder='passthrough')

m_transformed_X = transformer.fit_transform(m_car_sales_missing)

In [109]:
import numpy as np

# Sample data
data = np.array([2, 5, 8, 11, 14])

# Normalization (Min-Max Scaling)
def normalize(x):
    return (x - np.min(x)) / (np.max(x) - np.min(x))

normalized_data = normalize(data)

# Standardization
def standardize(x):
    return (x - np.mean(x)) / np.std(x)

standardized_data = standardize(data)

print("Original data:", data)
print("Normalized data:", normalized_data)
print("Standardized data:", standardized_data)

Original data: [ 2  5  8 11 14]
Normalized data: [0.   0.25 0.5  0.75 1.  ]
Standardized data: [-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

In [111]:
import numpy as np

# Example data
income = [50000, 65000, 80000]
age = [25, 30, 35]

print('Income: ', income)
print('Age: ', age)

# Normalization
income_normalized = (income - np.min(income)) / (np.max(income) - np.min(income))
age_normalized = (age - np.min(age)) / (np.max(age) - np.min(age))

print("Normalized income:", income_normalized)
print("Normalized age:", age_normalized)

# Standardization
income_standardized = (income - np.mean(income)) / np.std(income)
age_standardized = (age - np.mean(age)) / np.std(age)

print("Standardized income:", income_standardized)
print("Standardized age:", age_standardized)

Income:  [50000, 65000, 80000]
Age:  [25, 30, 35]
Normalized income: [0.  0.5 1. ]
Normalized age: [0.  0.5 1. ]
Standardized income: [-1.22474487  0.          1.22474487]
Standardized age: [-1.22474487  0.          1.22474487]

### Option 2: Fill missing values iwth Scikit learn

In [112]:
m_car_sales_missing = pd.read_csv('../data/car-sales-extended-missing-data.csv')
m_car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [114]:
m_car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [115]:
# Get rid of rows with 0 in price
m_car_sales_missing.dropna(subset=['Price'], inplace=True)
m_car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [116]:
X = m_car_sales_missing.drop('Price', axis=1)
y = m_car_sales_missing['Price']

In [123]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' & numerical values with mean
# cat for categorical
# use method that is constant ant fill value missing data
m_cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
m_door_imputer = SimpleImputer(strategy='constant', fill_value=4)
m_num_imputer = SimpleImputer(strategy='mean')

# Define columns
m_cat_features = ['Make', 'Colour']
m_door_feature = ['Doors']
m_num_features = ['Odometer (KM)']

# Create an imputer (something that fills missing data)
m_imputer = ColumnTransformer([
# Tuple format : (tuple_name, imputer, what we want to change)
    ('cat_imputer', m_cat_imputer, m_cat_features),
    ('door_imputer', m_door_imputer, m_door_feature),
    ('num_imputer', m_num_imputer, m_num_features)
])

# Transform the code 
filled_X = m_imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [124]:
m_car_sales_filled = pd.DataFrame(filled_X, 
                                 columns=['Make', 'Colour', 'Doors', 'Odometer (KM)'])
m_car_sales_filled.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [125]:
m_car_sales_filled.isna().sum()  # check missing values

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [126]:
# Let's try and convert our data to numbers
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

m_categorical_features = ['Make', 'Colour', 'Doors']
m_one_hot = OneHotEncoder()
m_transformer = ColumnTransformer([('one_hot',
                                    one_hot,
                                    m_categorical_features)],
                                 remainder='passthrough')

transformed_X = m_transformer.fit_transform(m_car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [127]:
# now we've got our data as unmbers and filled (no missing values)
# Let's fit a model 
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X, 
                                                    y,
                                                   test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.21990196728583944

In [129]:
# if there's more data, ML can find more data
# it did worst then our last model 
print(f'len(m_car_sales_filled) = {len(m_car_sales_filled)}')
print(f'len(m_car_sales) = {len(m_car_sales)}')

len(m_car_sales_filled) = 950
len(m_car_sales) = 1000

In [130]:
what_were_covering  # we're on 2.

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estmimator/algorithm for our problem',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together!']

## 2. Choosing the right estimator/algorithm for your problem 

Somethings to note:
* Sklearn refers to machine learning models, algorithms as estimators.
* Classification problem - predicting a category (heart disease or not)
    * Sometimes you'll see 'clf' (short for classifier) used as classification estimator
* Regression problem - predicting a number (selling price of a car)

If you're working on a machine learning problem and looking to use Sklearn and not sure what model you should use, refer to the sklearn machine learning map. https://scikit-learn.org/1.5/machine_learning_map.html

### 2.1 Picking a machine learning model for a regression problem 

Let's use the California housing data set

In [132]:
# Get California Housing dataset
from sklearn.datasets import fetch_california_housing
m_housing = fetch_california_housing()
m_housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 20640\n\n:Number of Attributes: 8 numeric, predictive attributes and the target\n\n:Attribute Information:\n    - MedInc        median income in block group\n    - HouseAge      median house age in block group\n    - AveRooms      average number of rooms per household\n    - AveBedrms     average number of bedrooms per household\n    - Population    block group population\n    - AveOccup      average number of household members\n    - Latitude      block group latitude\n    - Longitude     block group longitude\n\n:Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. rubric:: References\n\n- Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n  Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [135]:
m_housing_df = pd.DataFrame(m_housing['data'], columns=m_housing['feature_names'])
m_housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [137]:
# Target
m_housing_df['target'] = m_housing['target']
m_housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422

* Medinc - median income in a block group
    * block group - using one row per census . the smallest geographical unit for which the U.S. Census Bureau publishes sample data (a block group typically has a population of 600 to 3,000 people)

In [138]:
m_housing_df = m_housing_df.drop('MedHouseVal', axis=1)
m_housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [139]:
# Import algorithm/estimator
from sklearn.linear_model import Ridge

# Setup random seed 
np.random.seed(42)

# Create the data 
X = m_housing_df.drop('target', axis=1)
y = m_housing_df['target']  # medican house price in $100,000s 

# Split into train and test sets
X_train, x_tests, y_train, y_tests = train_test_split(X, y, test_size=0.2)

# Instantiate and fit the model (on the training set)
m_model = Ridge()
m_model.fit(X_train, y_train)

# Check the score of the model (on the test set)
# measures linear relationship between 2 variables, or all our
# features and the target variable
model.score(X_test, y_test)  # default for regression is the R^2 value

0.21990196728583944