In [2]:
import pandas as pd

In [3]:
# 2 main datatypes 
series = pd.Series(['BMW', 'Toyota', 'Honda'])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series 1-dimensional 
colors = pd.Series(['Red', 'Blue', 'White'])
colors

0      Red
1     Blue
2    White
dtype: object

In [6]:
# DataFrame = 2-dimensional 
car_data = pd.DataFrame({'Car Make': series, 'Color': colors})
car_data

  Car Make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [1]:
# Import data
car_sales = pd.read_csv('car-sales.csv')
car_sales

NameError: name 'pd' is not defined